PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/farmdirect?retryWrites=true&w=majority

# Provide the content of your Firebase Service Account JSON as a single line string
FIREBASE_SERVICE_ACCOUNT={"type": "service_account", "project_id": "your-project-id", ...}
